<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Ana Sayfa <img width="32" height="32" src="https://img.icons8.com/emoji/48/nazar-amulet.png" alt="nazar-amulet"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
        <ul class="navbar-nav mr-auto mb-lg-50 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'giris' %}">Giriş</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'yenikayit' %}">Kayıt Ol</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'cikis' %}">Çıkış<img width="25" height="25" src="https://img.icons8.com/external-tal-revivo-duo-tal-revivo/25/external-corporate-login-portal-isolated-on-a-white-background-full-duo-tal-revivo.png" alt="external-corporate-login-portal-isolated-on-a-white-background-full-duo-tal-revivo"/></a>
            </li>
        </ul>
    </div>
</nav>
